body {
  margin: 0;
  padding: 0;
  /* background: var(--Background, linear-gradient(90deg, #36533E 12.5%, #073B49 100%)); */
  background: #073B49;
  color: #1e1e1f;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
